@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@font-face {
    font-family: matrix-font01;
    src: url(../fonts/font01/matrix.ttf) format("TrueType");
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --colorA: #0f0;
    --colorB: #98BB9D;
    --colorC: #275F3A;
    --colorD: #CBC496;
    --colorE: #2C4742;
    --colorF: #2D301F;
    --colorG: #0F221C;
}

header{
    display: flex;
    flex-direction: column;
    gap: 10px;

    animation: mudanca 2s 3s infinite alternate ease-in-out;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    background-color: var(--colorE);
}

.circleLinks{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
    padding: 10px;

    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Merriweather', serif;
}

.circleLinks:hover{
    padding: 0px;
    border: 10px dashed #0f0;
    border-image-source: url("../img/Borda.png");
    border-image-slice: 30;

    transition-duration: 0.1s;
}

.circle{
    width: 10px;
    height: 10px;

    border-radius: 50%;
    box-shadow: 0 0 4px #000;
}

#greenCircle{background-color: #0f0;}
#yellowCircle{background-color: #ff0;}
#redCircle{background-color: #f00;}

.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 50px;
    height: 50px;
    margin: 20px 0;
}

.hamburger div{
    transition-duration: 0.5s;
    width: 100%;
    height: 20%;

    background-color: #fff;
}

.none{
    display: none !important;
}

.XHamburger div:first-child{
    transition-duration: 0.5s;
    position: relative;
    top: 25%;
    transform: rotate(45deg);
}

.XHamburger div:last-child{
    transition-duration: 0.5s;
    position: relative;
    transform: rotate(-45deg);
    top: -25%;
}

h1{
    font-size: 2em;
    font-family: matrix-font01, 'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
}

.greenO{
    color: var(--colorB);
    text-shadow: 0px 0px 9px var(--colorA);
}

#ShelbyInACube{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 200px;
    height: 100px;
    margin-left: 15px;
}

.container{
    margin: 16px 0;

    perspective: 1000px;
    perspective-origin: 100% 100%;
}

.cube{
    position: relative;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    animation: rotate 6s linear infinite;
}

.cube > div{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    animation: mudanca 2s 3s infinite alternate ease-in-out;
}

.s1{
    transform: translateZ(24.7px);
}

.s2{
    transform: rotateY(90deg) translateZ(24.7px);
}

.s3{
    transform: rotateY(180deg) translateZ(24.7px);
}

.s4{
    transform: rotateX(90deg) translateZ(24.7px);
}

.s5{
    transform: rotateY(-90deg) translateZ(24.7px);
}

.s6{
    transform: rotateX(-90deg) translateZ(24.7px) rotateY(180deg);
}

#shelby{
    width: 50px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: mudanca 2s 3s infinite alternate ease-in-out;
}

#textoDeEntrada{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 95%;
   
    border-radius: 10px;
    background: #ffffff46;
}

#textoDeEntrada > textarea{
    width: 95%;
    height: 500px;
    margin-top: 20px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    text-wrap: wrap;

    resize: none;

    border: 0px solid #000;
    border-radius: 10px;
}

#textoDeEntrada > textarea:focus{
    border: 1px solid #000;
    box-shadow: 0px 0px 5px var(--colorA);
}

#alerta{
    display: flex;
    align-items: center;
    gap: 10px;

    text-shadow: 1px 1px  2px #0f0;
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;

    animation: mudancaReversa 2s 3s infinite alternate ease-in-out;
}

#botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    margin: 20px 0;
}

#botoes > button{
    width: 90%;
    height: 50px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    font-weight: bold;

    box-shadow: 2px 2px 5px #0f0;
}

#botoes > button:hover{
    border: 10px dashed #0f0;
    border-image-source: url("../img/Borda.png");
    border-image-slice: 30;
    box-shadow: 0 0 0 #fff;
}

.criptografar{
    color: #fff;

    background-color: var(--colorE);
    border: 0;
}

.criptografar:hover{
    color: var(--colorE);

    background-color: #fff;
    transition: 0.1s ease-in-out;
}

.descriptografar{
    color: #fff;

    background-color: var(--colorB);
    border: 0;
}

.descriptografar:hover{
    color: var(--colorB);

    background-color: #fff;
    border: 0;
    transition: 0.1s ease-in-out;
}


@keyframes rotate {
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes mudanca{
    from {
        background-color: #fff;
    }

    to{
        background-color: #000;
    }
}

@keyframes mudancaReversa{
    from {
        color: #000;
    }

    to{
        color: #fff;
    }
}