@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@font-face {
    font-family: matrix-font01;
    src: url(../fonts/font01/matrix.ttf) format("TrueType");
    font-weight: normal;
    font-style: normal;
}

:root{
    --colorA: #00FF00;
    --colorB: #293329;
    --colorC: #3D663D;
    --borda: url("../img/BordaVerde.png");
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    
    animation: mudanca 2s 3s infinite alternate ease-in-out;
}

header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    background-color: var(--colorC);
}

.circleLinks{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
    padding: 10px;

    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Merriweather', serif;
}

.circleLinks:hover{
    padding: 0px;
    border: 10px dashed var(--colorA);
    border-image-source: var(--borda);
    border-image-slice: 30;

    transition-duration: 0.1s;
}

.circle{
    width: 10px;
    height: 10px;

    border-radius: 50%;
    box-shadow: 0 0 4px #000;
}

#greenCircle{background-color: #0f0;}
#yellowCircle{background-color: #ff0;}
#redCircle{background-color: #f00;}

.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 50px;
    height: 50px;
    margin: 20px 0;
}

.hamburger div{
    transition-duration: 0.5s;
    width: 100%;
    height: 20%;

    background-color: #fff;
}

.none{
    display: none !important;
}

.XHamburger div:first-child{
    transition-duration: 0.5s;
    position: relative;
    top: 25%;
    transform: rotate(45deg);
}

.XHamburger div:last-child{
    transition-duration: 0.5s;
    position: relative;
    transform: rotate(-45deg);
    top: -25%;
}

h1{
    font-size: 2em;
    font-family: matrix-font01, 'Courier New', Courier, monospace;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
}

.greenO{
    color: var(--colorB);
    text-shadow: 0px 0px 9px var(--colorA);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#textoDeEntrada{
    display: flex;
    flex-direction: column;
    
    width: 95%;
    padding: 10px;

    border-radius: 10px;
    background: #ffffff46;
}

#textoDeEntrada > textarea{
    width: 100%;
    height: 500px;

    padding: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    text-wrap: wrap;

    resize: none;

    border: 0px solid #000;
    border-radius: 10px;
}

#textoDeEntrada > textarea:focus{
    border: 1px solid #000;
    box-shadow: 0px 0px 5px var(--colorA);
}

#alerta{
    display: flex;
    align-items: center;
    gap: 10px;

    text-shadow: 1px 1px  2px var(--colorA);
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;

    animation: mudancaDeCorDeText 2s 3s infinite alternate ease-in-out;
}

#botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    margin: 20px 0;
}

#botoes > button{
    width: 45%;
    min-width: 200px;
    height: 50px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    font-weight: bold;

    box-shadow: 2px 2px 5px var(--colorA);
}

#botoes > button:hover{
    border: 10px dashed var(--colorA);
    border-image-source: var(--borda);
    border-image-slice: 30;
    box-shadow: 0 0 0 #fff;
}

.criptografar{
    color: #fff;

    background-color: var(--colorC);
    border: 0;
}

.criptografar:hover{
    color: #000;

    background-color: #fff;
    transition: 0.1s ease-in-out;
}

.descriptografar{
    color: #fff;

    background-color: var(--colorB);
    border: 0;
}

.descriptografar:hover{
    color: #000;

    background-color: #fff;
    border: 0;
    transition: 0.1s ease-in-out;
}

#textoDeSaida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 95%;
    max-width: 800px;
    padding: 20px;

    margin-bottom: 10px;

    border-radius: 10px;
    background: #fff;
}

#textoDeSaida  h2{
    font-size: 1.6em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.carregamento{
    width: 20px;
}

#textoCarregamento{
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

#PCcarregando{
    width: 200px;
    height: 160px;

    margin: auto;
}

#ShelbyInACube{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: -150px;
    left: 0%;
}

.container{
    margin: 16px 0;

    perspective: 1000px;
    perspective-origin: 100% 100%;
}

.cube{
    position: relative;
    width: 25px;
    height: 25px;
    transform-style: preserve-3d;
    animation: rotate 6s linear infinite;
}

.cube > div{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    animation: mudanca 2s 3s infinite alternate ease-in-out;
}

.s1{
    transform: translateZ(12px);
}

.s2{
    transform: rotateY(90deg) translateZ(12px);
}

.s3{
    transform: rotateY(180deg) translateZ(12px);
}

.s4{
    transform: rotateX(90deg) translateZ(12px);
}

.s5{
    transform: rotateY(-90deg) translateZ(12px);
}

.s6{
    transform: rotateX(-90deg) translateZ(12px) rotateY(180deg);
}

#shelby{
    width: 25px;
}

.fontRaibow{
    font-size: 0.9em;
}

#Resultado{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    inline-size: 100%;
    overflow-wrap: break-word;
}

.copyButton{
    width: 50%;
    max-width: 300px;
    height: 50px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;

    background-color: var(--colorB);
    border: 0;
    box-shadow: 2px 2px 5px var(--colorA);
}

.copyButton:hover{
    padding: 0px;

    color: #000;

    box-shadow: 0 0;
    background-color: #fff;
    border: 10px dashed var(--colorA);
    border-image-source: var(--borda);
    border-image-slice: 30;

    transition-duration: 0.1s;
}

footer{
    text-align: center;
    background-color: #ffffff46;
    
    color: #000;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;

    animation: mudancaDeCorDeText 2s 3s infinite alternate ease-in-out;
}

footer a{
    text-decoration: none;
    color: #000;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;

    animation: mudancaDeCorDeTextReversa 2s 3s infinite alternate ease-in-out;
}

@keyframes rotate {
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes mudanca{
    from {
        background-color: #fff;
    }

    to{
        background-color: #000;
    }
}

@keyframes mudancaDeCorDeText{
    from {
        color: #000;
    }

    to{
        color: #fff;
    }
}

@keyframes mudancaDeCorDeTextReversa{
    from {
        color: #000;
    }

    to{
        color: var(--colorA);
    }
}

@keyframes copyText{
    100% {
        content: "COPIADO!";
    }
}