@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

:root{
    --colorA: #0f0;
    --colorB: #98BB9D;
    --colorC: #275F3A;
    --colorD: #CBC496;
    --colorE: #2C4742;
    --colorF: #2D301F;
    --colorG: #0F221C;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    background-color: var(--colorE);
}

.circleLinks{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
    padding: 10px;

    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Merriweather', serif;
}

.circleLinks:hover{
    padding: 0px;
    border: 10px dashed #0f0;
    border-image-source: url("../img/Borda.png");
    border-image-slice: 30;

    transition-duration: 0.1s;
}

.circle{
    width: 10px;
    height: 10px;

    border-radius: 50%;
    box-shadow: 0 0 4px #000;
}

#greenCircle{background-color: #0f0;}
#yellowCircle{background-color: #ff0;}
#redCircle{background-color: #f00;}

#hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

#hamburger div{
    width: 100%;
    height: 20%;

    background-color: #fff;
}

.none{
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    display: none;
}

.XHamburger div:first-child{
    transition-duration: 0.5s;
    position: relative;
    top: 25%;
    transform: rotate(45deg);
}

.XHamburger div:last-child{
    transition-duration: 0.5s;
    position: relative;
    transform: rotate(-45deg);
    top: -25%;
}